body {
  background-color: lightgray;
}

.title {
  text-align: center;
}
.autoplay {
  text-align: center;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.linkBtn {
  background-color: white;
  color: black;
  border: 2px solid darkgray;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.linkBtn:hover {
  background-color: darkgray;
}

.image-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
#slider {
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

/* helper css, since we don't have images */
.slide1 {
  background: red;
}
.slide2 {
  background: blue;
}
.slide3 {
  background: green;
}
.slide4 {
  background: purple;
}
.slide5 {
  background: pink;
}
